.hero {
  margin-bottom: 50px;
  h1 {
    font-size: var(--header-size);
    color: var(--main-color);
    font-family: var(--header-font);
  }
  .icons {
    display: flex;
    gap: 10px;
    svg {
      height: 30px;
      color: var(--main-color);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
