.hero {
  margin-bottom: 50px;
  h1 {
    font-size: 84px;
    color: var(--main-color);
    font-family: var(--header-font);
  }
  .icons {
    display: flex;
    gap: 10px;
    svg {
      height: 30px;
      color: var(--main-color);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
    h1 {
      font-size: 54px;
    }
  }
}
