.skill {
  padding: 8px 8px;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent-color);
  background-color: var(--main-color);
  border-radius: 10px;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
